<head>
    <title>About me</title>
</head>   

<div class="col-md-12">
     <h1>About me</h1>

     
      <p>My Name is Jacob Butler, I am a citizen of New Zealand, seek a role in the information technology space. In 2022 I completed a Post graduate certificate in information technology. 
        I try to spend at least two hours daily working towards this goal, actively coding.  </p>
       <P>In my free time, I like to garden, volunteer on ecological restoration projects, read novels, write and work on projects.   </P>

      <p><a href=" linkedin.com/in/jacob-butler-b7b35625a"> Linkedin</a></p>
      
        </div>
</div>
    </div>
