<head>
    <title>CV</title>
</head>   

<div class="col-md-12">
     <h1>CV</h1>

     
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid optio ipsa quo corrupti soluta fugiat nihil, perspiciatis rem voluptatum eligendi inventore itaque reiciendis nemo eaque nam? Itaque ducimus aut odit.                        </p>
      
       

        </div>
</div>
    </div>