

<head>
    <title>Data analysis projects</title>
</head>   

<div class="col-md-12">
     <h1>Data Projects</h1>

     <h3>Power Bi </h3>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid optio ipsa quo corrupti soluta fugiat nihil, perspiciatis rem voluptatum eligendi inventore itaque reiciendis nemo eaque nam? Itaque ducimus aut odit.                        </p>
      <p>  git link </p>
      <h3>SQL</h3>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid optio ipsa quo corrupti soluta fugiat nihil, perspiciatis rem voluptatum eligendi inventore itaque reiciendis nemo eaque nam? Itaque ducimus aut odit.                        </p>
       <p>  git link </p>
            
        </div>
</div>
    </div>
