<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>home</title>
    {{!-- <link rel="stylesheet" href="./css/site.css"> --}}
</head>

<body>

 

  <h3>Portfolio Information Technology</h3>
<ul> 
                                  <li><a href="java">Java projects </a></li>
                                <li><a href="webDev">Web projects</a></li>
                                <li><a href="cv">CV</a></li>
                                <li><a href="about">About me</a></li>

</ul>

</body>

</html>