
<head>
    <title>Java Projects</title>
</head>   

<div class="col-md-12">
     <h1>Java Projects</h1>

     <h3>Cows and Bulls </h3>
     <p>Cows and Bull is a code guessing game, in this instance played between a human player and the computer. 
        The object of the game is for the player to guess the computers, secret 4 unique digit code before the computer is able guess theirs.    </p>

      <p>Upon the program being run, the player is asked for the difficulty level, imputing the corresponding number. Players are offered the opportunity to play using codes from a file as their guesses. 
        This is optional, the best way to play is guess by guess. Both the human player and the computer, give their secret codes. </p>  
      <p> The game starts with the human player going first. For any numbers guessed in the correct position, players are granted 
        a 'bull' for any number in the code but out of position, players are granted a ‘cow’. The computer then has a similar opportunity.       
      </p>  

      <img src="/images/cb1.jpg">
     


      


      <p>This continues, until there is a winner. </p>  
      <img src="/images/cb2.jpg">
      <p>On the hardest difficulty, the computer is able to work out the players code within 7 guesses, this done via pruning number form the possible 5050 combinations. Players are asked if they would like a record of the match. 
        If press ‘yes,’ a notepad file detailing the guesses and codes gets created and saved to the computer. </p>
       
       <p> This program was built with using the Java programming language, using Amazon Corretto 11.0.14 JDK. The IDE used was intellij. This project was completed alone as part of the post graduate information technology course that completed. 
        It was The program was built taking into account object orientated programming principles </p>

        <p>The code is avalible on <a href="https://github.com/jbut093/PortfolioJB">Github</a></p>
            
        </div>
</div>
    </div>






