<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Web Development</title>
    {{!-- <link rel="stylesheet" href="./css/site.css"> --}}
</head>

<body>
<div class="col-md-12">
      <h1>Web Development</h1>
      
      
      <h3>Fury frogs blog site </h3>
      <p>This website was a two weeklong group project to create a full stack web application.</p>
      <p>The site uses HTML, CSS, JavaScript, NodeJS, Express and a SQL data base. </p>
      <p>The code is avalible on <a href="https://github.com/jbut093/PortfolioJB">Github.</a></p>
         
                

    </div>
</body>

</html>